<head>
    <title>Gio-Chat</title>
</head>

<body>
    <h1>Extravaganza</h1>
    {{> Extravaganza }}
</body>

<template name="SuhhDude">
    {{#if currentUser}}
    <h2>SuhhDude</h2>
    {{else}}
    <h2>Please State Your Infoi</h2>
    {{/if}}
    <button class="event-alert">Click on It</button>
    <p>You have pressed the button {{counter}} times.</p>
    <form class="name-form">
        <input type="text" name="YourNamePlease">
        <input type="submit">
    </form>
    <ul>
    {{#each posts}}
        <li>{{name}}</li>
    {{/each}}
    </ul>
</template>